* {
  box-sizing: border-box;
}

$main_color: rebeccapurple;
$secondary_color: whitesmoke;
$font: Verdana, Geneva, sans-serif;
$font-size: 14pt;

@import 'dates'; 
@import 'sources'; 
@import 'data'; 

header {
  text-align: center;
  color: $main_color;
  font-size: 16pt;

  h2 {
    margin: 15px;
  }
}

.app {
  display: flex;
  flex-direction: row;
  background: $main_color;
}

%column {
  margin: 10px;
  padding: 5px;
  background: $secondary_color;
}

.left-column{
  @extend %column;
  flex: 1 1 20%;
  margin-right: 5px;
}

.right-column{
  @extend %column;
  flex: 4 1 80%;
  margin-left: 5px;
}

footer {
  margin: 10px;
  a {
    svg {
      width: 50px;
      height: 50px;
      display: block;
      margin: auto;
      fill: $main_color;
    }
  }
}
