* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  background: rebeccapurple;
}

.left-column {
  flex: 1 1 20%;
}

.right-column {
  flex: 4 1 80%;
}

.left-column, .right-column {
  margin: 10px;
  padding: 5px;
  background: white;
}

.left-column > ul {
  padding: 15px;
  margin: 0;
}

.dates-header {
  margin-bottom: 4px;
}

.selected-source {
  color: black;
}

.deselected-source {
  color: lightgray;
  text-decoration: line-through;
}

footer {
  margin: 10px;
}

footer > a > svg {
  display: block;
  margin: auto;
  fill: rebeccapurple;
}

header {
  margin: 10px;
  padding-left: 10%;
}
