.app {
  display: flex;
  flex-direction: row;
  background: rebeccapurple;
  h3 {
    color: blue;
  }
}

header {
  h2 {
    color: blue;
  }
}

footer {
  a { 
    svg {
      display: block;
      margin: auto;
      fill: rebeccapurple;
    }
  }
}
