* {
  box-sizing: border-box;
}

$main_color: rebeccapurple;
$secondary_color: white;

header {
  margin: 10px;
  padding-left: 10%;
  color: $main_color;
}

.app {
  display: flex;
  flex-direction: row;
  background: $main_color;
}

%column {
  margin: 10px;
  padding: 5px;
  background: $secondary_color;
}

.left-column{
  @extend %column;
  flex: 1 1 20%;
  margin-right: 5px;
}

.right-column{
  @extend %column;
  flex: 4 1 80%;
  margin-left: 5px;
}

.dates {
  .dates-header {
    margin-bottom: 4px;
  }
}

.sources {
  .sources-list {
    padding: 15px;
    margin: 0;
    .selected-source {
      color: black;
    }
    .deselected-source {
      color: lightgray;
      text-decoration: line-through;
    }
  }
}

.tooltip {
  position: fixed;
  padding: 10px;
  background: whitesmoke;
}

footer {
  margin: 10px;
  a {
    svg {
      width: 50px;
      height: 50px;
      display: block;
      margin: auto;
      fill: $main_color;
    }
  }
}
